[Unit]
Description=Set the battery charge limit
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'echo 60 > /sys/class/power_supply/BAT*/charge_control_end_threshold'

[Install]
WantedBy=multi-user.target
